:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas', sans-serif;
}
body{
    font-family: var(--font-primary);
    font-weight: bold;
}
#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
    font-size: 14pt;
}

.grid-item {
    background-color: var(--swatch-primary);
}

#navbar {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#redo-button{
    filter: invert(0.0);
}

#undo-button{
    filter: invert(0.0);
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
    padding-left: 5px;
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 20pt;
}

#left-sidebar-header {
    border-bottom: solid;
    padding-bottom: 2px;
}

#todo-list-table-header {
    border-bottom: solid;
}

#todo-lists-list{
    background-color: var(--swatch-complement);
    height: 800px;
    width: auto;
    overflow-y: auto;
}

#todo-list-items-div{
    /* background-color: var(--swatch-complement);
    height: 800px;
    width: auto; */
    overflow-y: auto;
}

.list-header-card {
    border-bottom: solid;
}

.list-item-card {
    border-bottom: solid;
}

.todo_button {
    cursor:pointer;
    background-color: var(--swatch-complement);
    
}

.todo_button:hover {
    background-color: var(--swatch-primary);
}

.todo_button:focus-visible {
    background-color: var(--swatch-complement);
}

.table-entry-button {
    color: var(--swatch-foundation);
    background-color: var(--swatch-primary);
    border: none;
    padding-bottom: 25%;
}

.table-entry-button:hover {
    cursor: pointer;
    color: var(--swatch-contrast);
    background-color: var(--swatch-foundation);
}